html,
body,
h1,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'sf_pro_displaybold';
  src: url("../fonts/sf-pro-display-bold-webfont.woff2") format("woff2"), url("../fonts/sf-pro-display-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf_pro_displaylight';
  src: url("../fonts/sf-pro-display-light-webfont.woff2") format("woff2"), url("../fonts/sf-pro-display-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf_pro_displaymedium';
  src: url("../fonts/sf-pro-display-medium-webfont.woff2") format("woff2"), url("../fonts/sf-pro-display-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.not-found-light {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.not-found-light__image {
  width: 473.5px;
  display: block;
  max-width: 100%;
}

.not-found-light__title {
  font-size: 50px;
  color: #342637;
  margin-top: 40px;
  margin-bottom: 15px;
  font-family: 'sf_pro_displaybold', sans-serif;
}

.not-found-light__description {
  font-size: 25px;
  color: rgba(52, 38, 55, 0.7);
  margin-bottom: 30px;
  font-family: 'sf_pro_displaylight', sans-serif;
}

.not-found-light__button {
  background-color: #493c59;
  width: 154px;
  height: 54px;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  font-family: 'sf_pro_displaymedium', sans-serif;
  transition: all 1s;
}

.not-found-light__button:hover {
  background-color: #554668;
}

@media (min-width: 768px) {
  .not-found-light::after {
    content: '';
    background-image: url(../img/bg-lines-light-theme.svg);
    background-size: cover;
    background-position: center;
    position: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    -webkit-animation-name: rotated-bg;
            animation-name: rotated-bg;
    -webkit-animation-duration: 300s;
            animation-duration: 300s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    z-index: 1;
  }

@-webkit-keyframes rotated-bg {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}

@keyframes rotated-bg {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}

  .not-found-light__image {
    margin-top: 150px;
    position: relative;
    z-index: 2;
  }
}

@media (min-height: 768px) {
  .not-found-light__image {
    width: 947px;
  }
}